<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../../static/basic_app/AppLanding.css">
    <script type="text/javascript" src="../../static/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--<script src="https://kit.fontawesome.com/7b469b21c6.js" crossorigin="anonymous"></script>-->
    <script defer src="../../static/basic_app/fontawesome/js/all.js"></script>

    <title>App Landing</title>

    <link rel="preload" as="image" href="../../static/basic_app/images/Main.jpg">
    <link rel="preload" as="image" href="../../static/basic_app/images/Architecture.jpg">
    <link rel="preload" as="image" href="../../static/basic_app/images/Complete.jpg">
    <link rel="preload" as="image" href="../../static/basic_app/images/Construction.jpg">
    <link rel="preload" as="image" href="../../static/basic_app/images/Engineering.png">
    <link rel="preload" as="image" href="../../static/basic_app/images/Raw_Materials.png">
</head>

<body data-spy="scroll" data-target="#scrollspy" data-offset="100">
    <nav id="scrollspy" class="navbar fixed-top navbar-expand-xl navbar-light bg-light">
        <a class="navbar-brand highlight" href="index.html"><i class="fas fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#one">NewAccount<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#two">Architecture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#three">Construction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#four">RawMaterials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#five">Engineering</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#six">Complete</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </nav>

    <div id="page-name" class="container-fluid bg-info">
        <a href="index.html"><img id="logo" src="../../static/basic_app/images/logo.jpg"></a>
        <div id="name-text">Construction & Raw Materials Solutions</div>
    </div>

    <div class="alert-info container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="text-center display-4 my-3">Search for your product!</h1>
            </div>
            <div class="col-md-3"></div>
        </div>
        <form>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 my-4">
                    <input type="text" class="form-control" placeholder="Product name, Product type or Company name">
                </div>
                <div class="col-md-3 my-4">
                    <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div id="1">
        <div class="left-part">
            <h1 class="header">All Your Construction Solutions in<br> One Place!</h1>
            <p class="left-paragraphs">Our goal is to connect you with the leading vendors. Our platform has
                just the right solution according to your needs. All in one single simplified platform!</p>
            <div class="buttons">
                <a class="btn btn-info btn-lg" href="SignUp_FormValidation.html" role="button">Open New Account</a>
                <a class="btn btn-outline-info btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
        <img id="one" class="right-images" src="../../static/basic_app/images/Main.jpg">
    </div>

    <div id="2">
        <img id="two" class="left-images" src="../../static/basic_app/images/Architecture.jpg">
        <div class="right-part below">
            <h1 class="header">Architecture Solutions</h1>
            <p class="right-paragraphs">We have the country's leading architects and architecture firms. Combined
                with their professional expertise and our connections we have built some of the largetst projects in
                the country.</p>
            <div class="buttons">
                <a class="btn btn-info btn-lg" href="../catalogue/ArchiCatalogue.html" role="button">Learn more</a>
            </div>
        </div>
    </div>

    <div id="3">
        <div class="left-part below">
            <h1 class="header">Construction Solutions</h1>
            <p class="left-paragraphs">We have the country's leading constructors and construction firms. Combined
                with their professional expertise and our connections we have built some of the largetst projects in
                the country.</p>
            <div class="buttons">
                <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
        <img id="three" class="right-images" src="../../static/basic_app/images/Construction.jpg">
    </div>

    <div id="4">
        <img id="four" class="left-images" src="../../static/basic_app/images/Raw_Materials.png">
        <div class="right-part below">
            <h1 class="header">Raw <br>Materials Solutions</h1>
            <p class="right-paragraphs">We have the country's leading suppliers of quality raw materials.
                Combined with their professional expertise and our connections we have built some of the largetst
                projects in the country.</p>
            <div class="buttons">
                <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
    </div>

    <div id="5">
        <div class="left-part below">
            <h1 class="header">Engineering Solutions</h1>
            <p class="left-paragraphs">We have the country's leading engineers and engineering firms. Combined with
                their professional expertise and our connections we have built some of the largetst projects in the
                country.</p>
            <div class="buttons">
                <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
        <img id="five" class="right-images" src="../../static/basic_app/images/Engineering.png">
    </div>

    <div id="6">
        <img id="six" class="left-images" src="../../static/basic_app/images/Complete.jpg">
        <div class="right-part below">
            <h1 class="header">Complete Solutions</h1>
            <p class="right-paragraphs">We have the country's leading developer companies who provide who the
                complete package of solutions. Combined with their professional expertise and our connections we
                have built some of the largetst projects in the country.</p>
            <div class="buttons">
                <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $("nav").animate({
            opacity: "1",
        }, 1500);
        $("#logo").fadeIn(1500);
        $("#name-text").animate({
            marginLeft: "1vw",
            opacity: "1",
        }, 1500);
        $(".right-images").fadeIn(1500);
        $(".left-images").fadeIn(1500);
        $(".left-part").animate({
            left: "3%",
            opacity: "1",
        }, 1500);
        $(".right-part").animate({
            right: "3%",
            opacity: "1",
        }, 1500);
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>