<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../../static/basic_app/SignUp.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Sign Up</title>

    <style type="text/css">
        body{
            background-color: #D1ECF1;
        }
    </style>
</head>

<body>
    <div id="page-name" class="container-fluid bg-info">
        <a href="index.html"><img id="logo" src="../../static/basic_app/images/logo.jpg"></a>
        <div id="name-text">Construction & Raw Materials Solutions</div>
    </div>

    <div class="container col-4 p-3">
        <h1 class="display-4 text-center">Sign Up</h1>

        <form method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
                <div id="username-error" class="alert alert-danger" role="alert"></div>
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email adress">
                <div id="email-error" class="alert alert-danger" role="alert"></div>
            </div>

            <div class="form-group">
                <label for="contact">Contact Number</label>
                <input type="text" class="form-control" id="contact" name="contact" placeholder="01XXXXXXXXX">
                <div id="contact-error" class="alert alert-danger" role="alert"></div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
                <div id="length-error" class="alert alert-danger" role="alert"></div>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" name="confirm-password">
                <div id="password-error" class="alert alert-danger" role="alert"></div>
            </div>

            <button type="submit" id="submit-button" class="btn btn-info">Sign Up</button>
            <div id="success" class="alert alert-success" role="alert">Signed in successfully!</div>
        </form>
        <br>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $("form").submit(function (e) {

            e.preventDefault(); /*This function is for keeping the page from reloading after completing the form successfully. Normally this line won't be there.
And after a successful submission, there will be serverside validation and if that too is successful, the page will proceed to another page
 where it will say successfully signed up or maybe go to the homepage*/

            function isEmail(email) {
                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
            }

            var error = 0;

            if ($("#username").val() == "") {
                error++;
                $("#username-error").css("display", "block");
                $("#username-error").html("Please enter username");
            } else {
                $("#username-error").css("display", "none");
            }

            if (isEmail($("#email").val()) == false) {
                error++;
                $("#email-error").css("display", "block");
                $("#email-error").html("Invalid email address");
            } else {
                $("#email-error").css("display", "none");
            }

            if ($.isNumeric($("#contact").val()) == false) {
                error++;
                $("#contact-error").css("display", "block");
                $("#contact-error").html("Invalid contact");
            } else {
                $("#contact-error").css("display", "none");
            }

            if ($("#password").val().length < 8) {
                error++;
                $("#length-error").css("display", "block");
                $("#length-error").html("At least 8 characters");
            } else {
                $("#length-error").css("display", "none");
                if ($("#password").val() != $("#confirm-password").val()) {
                    error++;
                    $("#password-error").css("display", "block");
                    $("#password-error").html("Reconfirm Password");
                } else {
                    $("#password-error").css("display", "none");
                }
            }

            if (error == 0) {
                $("#success").css("display", "block");
                return true;
            } else {
                return false;
            }

        });
    </script>

</body>

</html>
