body {
    background-color: #D1ECF1;
    font-family: 'Lato', 'Cuprum', sans-serif;
    padding: 0;
    position: relative;
}

.alert {
    display: none;
}

#page-name {
    margin: 0px 0px 20x 0px;
    height: 10%;
    width: 100%;
    float: left;
}

#name-text {
    color: white;
    font-size: 4vw;
    float: left;
    margin: 1vw;

    /*margin: 1vw 1vw 1vw 0;
    opacity: 0;*/
}

#logo {
    width: 7.5vw;
    float: left;

    /*display: none;*/
}