<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../../static/catalogue/ArchiCatalogue.css">
    <script type="text/javascript" src="../../static/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!--<script src="https://kit.fontawesome.com/7b469b21c6.js" crossorigin="anonymous"></script>-->
    <script defer src="../../static/catalogue/fontawesome/js/all.js"></script>

    <title>Architecture Catalogue</title>

</head>

<body data-spy="scroll" data-target="#scrollspy" data-offset="100">
    <nav id="scrollspy" class="navbar fixed-top navbar-expand-xl navbar-light bg-light">
        <a class="navbar-brand highlight" href="../basic_app/index.html"><i class="fas fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#main-image">Architecture<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#welcome">Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#professionals">Our Professionals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#stories">Top Stories</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </nav>

    <div id="page-name" class="container-fluid bg-info">
        <a href="../basic_app/index.html"><img id="logo" src="../../static/catalogue/archi_images/logo.jpg"></a>
        <div id="name-text">Construction & Raw Materials Solutions</div>
    </div>

    <div class="top-section">
        <img id="main-image" src="../../static/catalogue/archi_images/Architecture.jpg">
        <p class="text-over text-uppercase">Highway to your<br>dream home</p>

        <div class="count bg-white shadow">
            <div class="container-fluid count-text">
                <div class="row">
                    <div class="col-6">
                        37<span class="spacing">Architects</span>
                    </div>
                    <div class="col-6">
                        15<span class="spacing">Architecture Firms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="welcome" class="alert-info shadow p-5">
        <h1 id="page-header" class="text-center">Welcome!</h1>
        <p class="paragraphs text-center">To an open platform for driving change through architecture and art.
            <br> Visual identity and design</p>
    </div>



    <div id="professionals" class="container rounded shadow alert-info pb-2">

        <div class="headings alert-info p-3 mb-0">
            Professional <br>
            <span style="font-weight: 500;">Architects</span>
        </div>

        <ul class="list-unstyled">
            <li class="media my-4 p-4 bg-info shadow">
                <img src="../../static/catalogue/archi_images/Architect1.png" class="mr-3 rounded-circle" width="8%">
                <div class="media-body text-white">
                    <h5 class="mt-0 mb-1">Enamul Karim Nirjhar</h5>
                    Enamul Karim Nirjhar is a Bangladeshi architect and filmmaker. His parallel effort towards different
                    interests along with architecture is coming in a shape of a collaborative platform day by day
                </div>
            </li>
            <li class="media my-4 p-4 bg-light shadow">
                <img src="../../static/catalogue/archi_images/Architect2.png" class="mr-3 rounded-circle" width="8%">
                <div class="media-body text-black">
                    <h5 class="mt-0 mb-1">Khan Mohammed Mustapha Khalid</h5>
                    Khan Mohammed Mustapha Khalid is a Bangladeshi architect. He is considered one of the leading
                    contemporary architects of Bangladesh
                </div>
            </li>
            <li class="media my-4 p-4 bg-info shadow">
                <img src="../../static/catalogue/archi_images/Architect3.png" class="mr-3 rounded-circle" width="8%">
                <div class="media-body text-white">
                    <h5 class="mt-0 mb-1">Marina Tabassum</h5>
                    Marina Tabassum is a Bangladeshi architect. She is the principal architect of Marina Tabassum
                    Architects. In 2016, she won the Aga Khan Award for Architecture for the designof Bait-ur-Rouf
                    Mosque in Dhaka, Bangladesh.
                </div>
            </li>
        </ul>
    </div>

    <div id="stories" class="container rounded shadow alert-info pb-2 mb-5">

        <div class="headings alert-info p-3 mb-0">
            Our Top <br>
            <span style="font-weight: 500;">Architectural Stories</span>
        </div>

        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card">
                    <img src="../../static/catalogue/archi_images/Architecture1.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Grand Sultan Tea Resort & Golf</h5>
                        <p class="card-text">LOCATION : Sreemangal, Sylhet<br>
                            CLIENT : River & Rain</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="../../static/catalogue/archi_images/Architecture2.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Himchori Residence</h5>
                        <p class="card-text">LOCATION : Himchori, Cox's Bazar<br>
                            CLIENT : River & Rain</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="../../static/catalogue/archi_images/Architecture3.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Radisson Blu Dhaka Water Garden</h5>
                        <p class="card-text">LOCATION : Dhaka<br>
                            CLIENT : SENA HOTEL DEVELOPMENTS LTD.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="../../static/catalogue/archi_images/Architecture4.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Royal Tulip Sea Pearl Beach Resort
                            & Spa</h5>
                        <p class="card-text">LOCATION : Cox's Bazar<br>CLIENT : SENA HOTEL DEVELOPMENTS LTD.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>

</body>

</html>